<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="api" type="FJW.SDK2Api.ApiSection,FJW.SDK2Api" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MongoHost" value="mongodb://192.168.1.10:27017" />
    <add key="DbName" value="Activity" />
    <add key="RedisConnection" value="192.168.1.11:6379,defaultdatabase=1" />
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="server=192.168.1.10;uid=sa;pwd=111111;database=Basic;" />
  </connectionStrings>
  <api>
    <Methods>
      <!--推送消息-->
      <add Method="PushMsg" EntryPoint="http://192.168.1.10:801/api"  />
      <!--获取验证码-->
      <add Method="GetVCode" EntryPoint="http://192.168.1.10:801/api" />
      <!--用户服务-->
      <add Method="MemberService" EntryPoint="http://192.168.1.10:802/api" />
      <!--卡券-->
      <add Method="CouponService" EntryPoint="http://192.168.1.10:811/api" />
      <!--基础-->
      <add Method="BasicService" EntryPoint="http://192.168.1.10:806/api" />
    </Methods>
  </api>
</configuration>