<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Methods>
    <!--推送消息-->
    <Method MethodName="PushMsg" EntryPoint="http://192.168.1.10:801/api"  />

    <!--获取验证码-->
    <Method MethodName="GetVCode" EntryPoint="http://192.168.1.10:801/api" />
    <!--用户登录-->
    <Method MethodName="Login" EntryPoint="http://192.168.1.10:801/api" />
    <!--用户注册-->
    <Method MethodName="Regist" EntryPoint="http://192.168.1.10:801/api" />
  </Methods>
</configuration>
